@import "tailwindcss";

*{
    font-family: 'Inter';
    word-spacing: -1px;
}

body{
    background-image: linear-gradient(to bottom, #1a1f2e, #2A3042);
}
.box{
    transition: all 0.3s ease-in-out;

}

.box:hover{
    transform: scale(1.05);
    cursor: pointer ;
}

.box-nav{
    transition: all 0.3s ease-in-out;
}

.box-nav:hover{
    transform: scale(1.05);
    cursor: pointer ;
}

.dashboard{
    transition: all 0.3s ease-in-out;
}

.dashboard:hover{
    transform: scale(1.1);
    cursor: pointer ;
}