@import "tailwindcss";

*{
    font-family: 'Inter';
    word-spacing: -1px;
}

body{
    background-image: linear-gradient(to bottom, #1a1f2e, #111624);
}
.box{
    transition: all 0.3s ease-in-out;

}

.box:hover{
    transform: scale(1.05);
    cursor: pointer ;
}

.box-nav{
    transition: all 0.3s ease-in-out;
}

.box-nav:hover{
    transform: scale(1.05);
    cursor: pointer ;
}

.btn{
    transition : all 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.field{
    transform: all 0.3s ease-in-out;
}

.field:hover{
    cursor: pointer;
}

.dashboard{
    transition: all 0.3s ease-in-out;
}

.dashboard:hover{
    transform: scale(1.1);
    cursor: pointer ;
}

